@font-face {
  font-family: 'Rubik';
  font-display: fallback;

  src: local('Rubik'),
      url('./Rubik-ExtraBold.eot?iefix') format('embedded-opentype'),
      url('./Rubik-ExtraBold.woff2') format('woff2'),
      url('./Rubik-ExtraBold.woff') format('woff'),
      url('./Rubik-ExtraBold.ttf') format('truetype');

  font-style: normal;
}
